.header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 300;
}

.header__logo {
  font-size: 24px;
  line-height: 20px;
  margin: 0;
  font-weight: 400;
}
