.block {
  position: relative;
  margin: 10px 5px 0px;
  overflow: hidden;
}

.block__content {
  padding: 15px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.block__content__description {
  font-size: 18px;
  line-height: 26px;
}

.block__content__caption {
  font-size: 14px;
  line-height: 20px;
  margin-top: auto;
}

.block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* first blocks */

.scuare_blocks .block {
  width: calc(33.278% - 10px);
}

.scuare_blocks .block::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.scuare_blocks .block__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scuare_blocks .block:first-child {
  width: calc(66.76% - 10px);
}

/* second-blocks */

.second-blocks .block {
  position: relative;
  width: calc(33.3% - 10px);
  height: 155px;
}

.second-blocks .block_two_size {
  width: calc(66.6% - 10px);
  order: 3;
}

@media (max-width: 480px) {
  .block__content {
    overflow-y: scroll;
  }

  .second-blocks .block {
    width: calc(50% - 10px);
  }

  .second-blocks .block_two_size {
    width: 100%;
    order: 3;
  }

  .second-blocks .block:nth-child(1) {
    order: 1;
  }
  .second-blocks .block:nth-child(2) {
    order: 2;
  }
  .second-blocks .block:nth-child(3) {
    order: 4;
  }
  .second-blocks .block:nth-child(5) {
    order: 5;
  }
}

/* third blocks */

.third-blocks .block:nth-child(3) {
  cursor: pointer;
}

.block__image {
  transition: filter .2s linear;
}

.block:nth-child(3):hover .block__image {
  filter: blur(15px);
}

.third-blocks .block:nth-child(3):hover .block__content::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 50%;
  background: url(../../images/svg/exclamation.svg) no-repeat center;
  background-color: #FFF;
}

/* fourth-blocks */

.fourth-blocks .block {
  position: relative;
  width: calc(33.3% - 10px);
  height: 155px;
}

.fourth-blocks .block_two_size {
  width: calc(66.6% - 10px);
}

@media (max-width: 480px) {

  .fourth-blocks .block {
    width: calc(50% - 10px);
  }

  .fourth-blocks .block:nth-child(1) {
    order: 4;
  }
  .fourth-blocks .block:nth-child(3) {
    order: 5;
  }
  .fourth-blocks .block:nth-child(4) {
    order: 2;
  }
  .fourth-blocks .block:nth-child(5) {
    order: 3;
  }

  .fourth-blocks .block_two_size {
    width: 100%;
    order: 1;
  }
}
