.third-blocks .blocks-wrapper {
  flex-flow: column wrap-reverse;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .third-blocks {
    display: none;
  }
}