.chat {
  max-width: 650px;
  width: 100%;
  height: 100%;
  background-image: url('../images/picture/backForChat.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

@media speech and (aspect-ratio: 2) {
  .chat {
    background-image: url('../images/picture/backForChat@2x.jpg');
  }
}

.chat-history {
  overflow-y: scroll;
  padding: 40px 0px 30px;;
  /* height: 63%; */
  flex-grow: 1;
}

.message-frame {
  display: flex;
  margin-bottom: 20px;
}

.message-frame_curent-user {
  flex-direction: row-reverse;
}

.message-frame__avatar {
  align-self: baseline;
  margin: 0 15px;
  border-radius: 10%;
}

.chat-form {
  border-top: 1px solid #DBDBDB;
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
}

.chat-form__text-area {
  margin-bottom: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  height: 129px;
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
}

.chat-form__submit-button {
  background-color: #0F54B9;
  color: #FFF;
  padding: 10px 22px;
  border-radius: 21px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  align-self: flex-start;
}

.messages__date-point {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.messages__date-point::before,
.messages__date-point::after {
  content: '';
  display: block;
  width: auto;
  border-top: 1px solid #DBDBDB;
  flex-grow: 1;
}

.messages__date-point::before {
  margin-right: 20px;
}

.messages__date-point::after {
  margin-left: 20px;
}
