.user-info-list {
  width: 100%;
  font-size: 14px;
  line-height: 19px;
}

.user-info-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-info-list__item__field {
  max-width: 216px;
}

.user-info-list__item__value {
  display: block;
  max-width: 140px;
  text-align: right;
}