.chat-message {
  max-width: 470px;
  background-color: #F1F3F5;
  padding: 15px 15px 7px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 7px;
  position: relative;
}

.chat-message::before {
  position: absolute;
  left: -5px;
  top: 0;
  content: '';
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #F1F3F5 transparent transparent #F1F3F5;
  transform: rotate(-135deg);
}

.message-frame_curent-user .chat-message::before {
  left: auto;
  right: -5px;
}