.first-blocks .blocks-wrapper {
  flex-flow: column wrap;
  height: 502px;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .first-blocks {
    order: 2;
  }
}