body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9e4e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blocks-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.backcolor_gray {
  background-color: #A2A9B7;
}

.backcolor_lightgray {
  background-color: #E8EBED;
}

.backcolor_blue {
  background-color: #90BCE8;
}

.backcolor_orange {
  background-color: #FEBF26;
}

.backcolor_green {
  background-color: #E3EBD3;
}

.backcolor_darkorange {
  background-color: #FFAA87;
}

.backcolor_red {
  background-color: #F55E62;
}

.backcolor_purple {
  background-color: #C7ABD4;
}

.block_text_white {
  color: #FFF;
}

.blocks {
  position: relative;
  max-height: 502px;
}

.blocks::before {
  content: '';
  display: block;
  padding-top: 67%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.268);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 46px;
}
