.footer {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  margin-top: auto;
}

.footer__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}
