.page {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
}
